.container {
  padding: 1.5rem;
}

.title {
  font-weight: 900;
  text-align: center;
  margin-bottom: 0;
}

.players_container {
  display: flex;
  justify-content: space-around;
  padding: 1.5rem;
}

.players_container p {
  margin: 0;
}

.player_details {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.player_name {
  color: blue;
  font-family: var(--title-font);
  font-size: 3rem;
}

.player_name:nth-child(2) {
  color: red;
}

.back_button {
  margin-top: 1.5rem;
  font-weight: 500;
}

.board_container {
  display: flex;
  justify-content: center;
}

@media screen and (max-width: 768px) {
  .players_container {
    justify-content: space-between;
    padding: 0;
  }

  .player_name {
    font-size: 2.5rem;
  }
}
