.container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.image {
  max-height: 300px;
  margin-block: 20px;
}

.inputs_container {
  width: 100%;
  max-width: 500px;
  margin-bottom: 1.5rem;
}

.input_container {
  margin-block: 15px;
  display: flex;
  flex-direction: column;
  gap: 9px;
}

.container input {
  /* width: 100%; */
  color: rgb(36, 35, 42);
  font-size: 16px;
  line-height: 20px;
  min-height: 28px;
  border-radius: 4px;
  padding: 8px 16px;
  border: 2px solid transparent;
  box-shadow: rgb(0 0 0 / 12%) 0px 1px 3px, rgb(0 0 0 / 24%) 0px 1px 2px;
  background: rgb(251, 251, 251);
  transition: all 0.1s ease 0s;
  :focus {
    border: 2px solid rgb(124, 138, 255);
  }
}

.title {
  font-size: 5.5rem;
  font-weight: 700;
  font-family: var(--title-font);
  margin: 0;
  line-height: 1;
  text-align: center;
  margin-top: 1.5rem;
}

.button_container {
  display: flex;
  justify-content: center;
}

.error_text {
  color: red;
}

.play_button {
  width: 100%;
  max-width: 300px;
  font-size: 1.25rem;
  font-weight: 600;
  font-family: var(--base-font);
}

@media screen and (max-width: 768px) {
  .container {
    padding: 20px;
  }
}
